# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
.Rprofile

# renv
renv/library/
renv/staging/
renv/cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
.ipynb_checkpoints/

# Data
data/*.fastq
data/*.fastq.gz
data/*.bam
data/*.sam
data/*.Rds
data/*.h5
data/raw/
data/tmp/

# Results
results/*.rds
results/*.RData

# Figures
figures/*.tiff
figures/*.pdf
figures/*large*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.Rproj
